@import "../../app";

.home {
    margin: 50px auto;
    max-width: 500px;
    min-width: 300px;
    min-height: 200px;
    border: 4px solid @headerBackgroundColor;

    .home-header {
        background-color: @headerBackgroundColor;
        color: @headerTextColor;
        padding: 10px 5px;

        h2 {
            margin: 0;
        }
    }
    
    .home-intro {
        padding: 10px;
    }
}