@import "../../app";

.user-projects {
    width: 15%;
    max-width: 500px;
    min-width: 100px;
    
    color: @headerTextColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 10px;

            &.selected {
                background: #1e1e1e;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.2);
                cursor: pointer;
            }
        }
    }

    .add-project {
        height: 50px;
        text-align: center;
    }
}

.add-project-modal {
    background-color: @backgroundSecondary;
    padding: 10px;
    border-radius: 4px;

    h1 {
        color: @foregroundPrimary;
    }

}