@import "../../app";

.user-projects {
    width: 15%;
    max-width: 500px;
    min-width: 100px;
    background-color: @headerBackgroundColor;
    color: @headerTextColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 5px;
        }
    }

    .add-project {
        height: 50px;
        text-align: center;
    }
}