@import '../../app';

.build-status {
	display: inline-block;
	vertical-align: middle;

	img {
		padding: 3px;
		border: 1px dashed transparent;
		border-radius: 3px;
		vertical-align: middle;
	}

	.embed-text {
		display: none;
	}

	&.embed-link:hover {
		cursor: pointer;

		img {
			border-color: @foregroundSecondary;
		}

		.embed-text {
			display: inline-block;
			padding-left: 5px;
			color: @foregroundSecondary;
		}
	}
}

.embed-status-modal {
	@elementPadding: 10px;

	background-color: @backgroundSecondary;
	color: @foregroundPrimary;
    padding: @elementPadding;
	border-radius: 4px;
	margin: 50px auto;
	width: 500px;

    h1 {
		color: @foregroundPrimary;
		margin: 0;
		padding: 0;
		padding-bottom: @elementPadding;
	}
	
	button {
		margin: @elementPadding auto 0 auto;
	}

	& > div {
		padding: @elementPadding 0 0 0;
		margin: 0;
	}

	.embed-source {
		padding: @elementPadding;
		background-color: @foregroundPrimary;
		color: @backgroundPrimary;
		border-radius: @elementPadding/2;
		margin: @elementPadding 0 0 0;
		font-size: 1em;

		pre {
			padding: 0;
			margin: 0;
			white-space: pre-wrap;
			white-space: -moz-pre-wrap;
			white-space: -pre-wrap;
			white-space: -o-pre-wrap;
			word-wrap: break-word;
		}
	}

	.embed-doc {
		margin: 0 -@elementPadding;
		background-color: @backgroundPrimary;
		color: @foregroundPrimary;
		padding: @elementPadding @elementPadding;

		strong {
			color: @foregroundTertiary;
		}
	}

	a {
		color: @foregroundPrimary;

		&:visited {
			color: @foregroundSecondary;
		}

		&:hover {
			color: @foregroundTertiary;
		}
	}
}