@headerBackgroundColor: #3263f2;
@headerBackgroundColor2: #d73fd6;
@headerTextColor: #fff;
@headerHeight: 64px;

@betaBadgeColor: #3d3d3d;// rgb(236, 47, 0);
@betaBadgeTextColor: #fff;

@signInButtonColor: rgb(128, 128, 128);
@signInButtonTextColor: #fff;
@signInButtonHoverColor: rgb(85, 85, 85);
@signInButtonHoverTextColor: rgb(233, 233, 233);

@loader-color: #3d3d3d;// #f3f6f8;
@loader-color-inverted: #f3f6f8;

@build-color-default: #afafaf;
@build-color-pass: #00FF33;
@build-color-fail: #E50000;