// Dark theme palette

@backgroundPrimary: #2c2f37;
@backgroundSecondary: #3b4148;
@backgroundTertiary: #69a55a;
@backgroundQuarternary: #64686e;

@foregroundPrimary: #fff;
@foregroundSecondary: #9fab9f;
@foregroundTertiary: #83a47c;

@headerBackgroundColor: @backgroundPrimary;
@headerTextColor: @foregroundPrimary;
@headerHeight: 64px;

@body-text-color: @foregroundPrimary;

@betaBadgeColor: #e16700;// rgb(236, 47, 0);
@betaBadgeTextColor: @foregroundPrimary;

@buttonBackgroundColor: @backgroundTertiary;
@buttonTextColor: @foregroundPrimary;
@buttonBorderColor: @buttonBackgroundColor;

@buttonHoverBackgroundColor: @foregroundTertiary;
@buttonHoverTextColor: @foregroundPrimary;
@buttonHoverBorderColor: @foregroundTertiary;

@signInButtonColor: rgb(128, 128, 128);
@signInButtonTextColor: #fff;
@signInButtonHoverColor: rgb(85, 85, 85);
@signInButtonHoverTextColor: rgb(233, 233, 233);

@loader-color: #1b51da;// #f3f6f8;
@loader-color-inverted: #f3f6f8;

@build-color-default: #afafaf;
@build-color-default-text: #000;
@build-color-pass: #00B324;
@build-color-fail: #E50000;

@ui-seperator-color: rgba(0,0,0,0);// rgb(128, 128, 128);
@ui-box-color: #333;
@ui-box-secondary-color: rgba(243, 246, 248, 0.1);
@ui-box-secondary-hover-color: rgba(243, 246, 248, 0.1);
@ui-icon-hover: @body-text-color;
@ui-box-secondary-action-color: #1e296e;
@ui-box-tertiary-color: rgba(243, 246, 248, 0.1);