@headerBackgroundColor: #252526;
@headerBackgroundColor2: #252526;
@headerTextColor: #fff;
@headerHeight: 64px;

@body-text-color: #cccccc;

@betaBadgeColor: #3d3d3d;// rgb(236, 47, 0);
@betaBadgeTextColor: #fff;

@buttonBackgroundColor: #333;
@buttonTextColor: #fff;
@buttonBorderColor: @buttonBackgroundColor;
@buttonHoverBackgroundColor: #1b51da;
@buttonHoverTextColor: #fff;
@buttonHoverBorderColor: #1b51da;


@signInButtonColor: rgb(128, 128, 128);
@signInButtonTextColor: #fff;
@signInButtonHoverColor: rgb(85, 85, 85);
@signInButtonHoverTextColor: rgb(233, 233, 233);

@loader-color: #1b51da;// #f3f6f8;
@loader-color-inverted: #f3f6f8;

@build-color-default: #afafaf;
@build-color-default-text: #000;
@build-color-pass: #00FF33;
@build-color-fail: #E50000;

@ui-seperator-color: rgba(0,0,0,0);// rgb(128, 128, 128);
@ui-box-color: #333;
@ui-box-secondary-color: rgba(243, 246, 248, 0.1);
@ui-box-secondary-hover-color: rgba(243, 246, 248, 0.1);
@ui-icon-hover: @body-text-color;
@ui-box-secondary-action-color: #1e296e;
@ui-box-tertiary-color: rgba(243, 246, 248, 0.1);