@import './app';

@font-face { 
	font-family: "Ionicons"; 
	src: url("/fonts/ionicons.eot?v=2.0.0"); 
	src: url("/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), 
		url("/fonts/ionicons.ttf?v=2.0.0") format("truetype"),
		url("/fonts/ionicons.woff?v=2.0.0") format("woff"),
		url("/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg"); font-weight: normal; font-style: normal; }

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: @body-text-color;
}

#root, #root > div {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: @backgroundSecondary;
}

.ReactModal__Content {
	margin: 64px 10px 10px 10px;
}

.header {
	@headerLogoPadding: 10px;
	@headerLinkPadding: 20px;

	background-color: @headerBackgroundColor;
	color: @headerTextColor;
	height: @headerHeight;

	.header-logo {
		display: inline-block;
		padding: @headerLogoPadding 0 0 @headerLogoPadding;
		height: @headerHeight;
		width: 50%;
		
		h1 {
			float: left;
			padding: 0px;
			margin: 0px;
			vertical-align: top;

			a {
				color: @headerTextColor;
				text-decoration: none;
			}
		}

		.status {
			font-variant: small-caps;
			font-size: 10px;
			line-height: 8px;
			color: @betaBadgeTextColor;
			background-color: @betaBadgeColor;
			padding: 5px;
			float: left;
			vertical-align: bottom;
			border-radius: 6px;
		}
	}

	.links {
		display: inline-block;
		height: @headerHeight;
		line-height: @headerHeight;
		vertical-align: top;
		margin-left: -(@headerLogoPadding + @headerLinkPadding);
		margin-right: 3*@headerLinkPadding;
		
		a {
			color: white;
			text-decoration: none;
			padding: 0 @headerLinkPadding 0 @headerLinkPadding;
			font-size: 1.6em;
			display: inline-block;

			&:hover {
				background-color: @backgroundSecondary;
			}
		}
	}
}

.notFound {
	color: @foregroundPrimary;
}

button {
	background-color: @buttonBackgroundColor;
	border: 4px solid @buttonBorderColor;
	border-radius: 3px;
	color: @buttonTextColor;
	font-weight: bold;
	font-size: 1.1em;
	padding: 0.2em 0.4em;
	margin: 5px;

	&:hover {
		cursor: pointer;
		background-color: @buttonHoverBackgroundColor;
		border: 4px solid @buttonHoverBorderColor;
		color: @buttonHoverTextColor;
	}
}

.settings {
	.button-dangerous {
		background-color: #b90000;
		border-color: #b90000;

		&:hover {
			background-color: #d40000;
			border-color: #d40000;
		}
	}

	button:disabled,
	button[disabled] {
		background-color: #4d4d4d;
		border-color: #4d4d4d;
		cursor: not-allowed;
	}
}

.ReactModal__Overlay--after-open {
	background-color: fade(@backgroundQuarternary, 70%) !important;

	.ReactModal__Content--after-open {
		border: 5px solid @backgroundPrimary;
		outline: none;
	}
}

@keyframes loading {
	to { transform: rotate(360deg); }
}

@loader-base-size: 40px;
.loading:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: @loader-base-size;
	height: @loader-base-size;
	margin-top: -@loader-base-size/2;
	margin-left: -@loader-base-size/2;
	border-radius: 50%;
	border: @loader-base-size/5 solid transparent;
	border-top-color: @loader-color;
	border-bottom-color: @loader-color;
	animation: loading .8s ease infinite;
	background: transparent !important;
}